footer button.active {
	position: relative;
}

footer button.active::before {
	position: absolute;
	content: "";
	top: -10px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: var(--color-red);
}
