@import "tailwindcss";
@plugin "daisyui";

@theme {
	/* colors: */
	--color-red: #fc2121;
	--color-red-light: #fff3f3;
	--color-text-black: #ffffff;
	--color-bg: #000000;
	--color-grey-light: #e6e6e6;
	--color-white: #ffffff;
}

@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200 700;
	src: url("../public/fonts/Montserrat.ttf") format(".ttf");
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--color-white);
}
